
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
@import "style-home.css";

body {
	margin: 0;
	padding: 0;
	background: url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66665E;
}

h1, h2, h3 {
	margin: 0;
	#text-transform: uppercase;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	#color: #0C95C9;
	color: 	#FF4500;
}

h1 { font-size: 50px;
     font-color: 	#FF4500;	
    }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 20;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #0C95C9; }

a:hover { text-decoration:underline; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}



/* Page */

#page {
	width: 1120px;
	margin: 1 auto;
}

#page-bgtop {
	padding-top: 30px;
}

	/** LOGO */

#logo {
	width: 950x;
	height: 134px;
	margin: 0 auto;
	background: url(images/people05.jpg) no-repeat right top;
}

#logo h1, #logo p {
	margin: 2px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: bold;
	color: 	#FF4500;
}


/* Content */

#content {
	float: right;
	width: 758px;
	padding-top: 10px;
	padding-right: 100px;
}

/* Post */

.post {
	background: url(images/img07.jpg) repeat-x left bottom;
	margin-bottom: 55px;
}

.post .title {
	height: 30px;
	color: #549900;
}

.post .title a {
	text-decoration: none;
	color: #585D60;
}

.post .date {
}

.post .meta {
	margin-top: -10px;
	padding: 2px 30px 2px 16px;
	background: url(images/img03.gif) no-repeat left 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	padding: 10px 0;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}

.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 177px;
	padding-left: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585D60;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 7px 10px 10px 7px;
	background: url(images/img07.jpg) repeat-x left bottom;
}

#sidebar p {
	margin: 0;
	padding: 0px 10px;
}

#sidebar h2 {
	height: 26px;
	margin: 0 0 10px 0px;
	padding: 12px 0 2px 7px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #464F54;
}


#sidebar p {
	line-height: 200%;
}
#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: normal;
	color: #585D60;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 920px;
	height: 0px;
	margin: 0 auto;
	padding-top: 70px;
}

#footer-bgcontent {
	margin: 0px;
	padding: 0px;
	height: 99px;
	background: #394144;
}

#footer p {
	margin: 0;
	text-align: right;
	line-height: normal;
	text-transform: lowercase;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	font-size: 7px;
	color: #E5FFC4;
}
